<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



	<bean id="person1" class="Person">
		<property name="name" value="Burak Köken"></property>
		<property name="age">
			<value>23</value>
		</property>
		<property name="telephone">
			<value></value>
		</property>
		<property name="address">
			<null></null>
		</property>
	</bean>
</beans>
